build/
cmake-build-*/
out/

*.o
*.obj
*.a
*.so
*.dylib
*.dll
*.out
*.elf
*.hex
*.bin
*.map

CMakeCache.txt
CmakeFiles/
cmake_install.cmake
compile_commands.json
CTestTestfile.cmake
Testing/

.vscode/

*.d